<!-- style="background-image: url(/assets/img/bg.png)" -->
<section class="login back">
    <div class="box">
        <div class="left back">
            <div class="shade">
                <div class="top">

                    <img src="/assets/img/login-main-img.png" style="margin-top: 40%;width: 100%">
                </div>
            </div>
        </div>
        <div class="right">
            <!-- <div class="w-100 mb-3 text-center">
                <img src="/assets/img/logo.png">
            </div> -->
            <h2 class="bold" style="margin-bottom: 0;">Reset Password</h2>
            <!-- <p>Reset Password by entering the information below!</p> -->
            <form [formGroup]="form" (ngSubmit)="formSubmit()" ngxScrollToFirstInvalid>
                <div class="form-group pass">
                    <input type="password" placeholder="Password" class="form-control"
                        (keydown.space)="$event.preventDefault()" formControlName="password" />
                    <span><img src="/assets/img/ic_password.svg"></span>
                    <div class="text-error" *ngIf="form.controls['password'].errors?.required && show">Please enter
                        password!
                    </div>
                </div>
                <div class="form-group pass">
                    <input type="password" placeholder="Confirm Password" class="form-control"
                        (keydown.space)="$event.preventDefault()" formControlName="confirmPassword" />
                    <span><img src="/assets/img/ic_password.svg"></span>
                    <div class="text-error" *ngIf="form.controls['confirmPassword'].errors?.required && show">Please enter
                        confirm password!
                    </div>
                </div>

                <button type="submit" class="bold">Reset Password</button>
            </form>
        </div>
    </div>
</section>
