<form [formGroup]="resetForm" (ngSubmit)="changePassword()">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Change Password</h4>
    </div>
    <div class="modal-body">

        <div class="row">

            <div class="col-md-12">
                <div class="form-group">
                    <label class="required">Old Password</label>
                    <input autocomplete="off" (keydown.space)="$event.preventDefault()" type="password"
                        class="form-control" formControlName="old_password" name="old_password">
                    <div class="text-error" *ngIf="resetForm.controls['old_password'].errors?.required && show">
                        Please enter old password.
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <label class="required">New Password</label>
                    <input autocomplete="off" (keydown.space)="$event.preventDefault()" type="password"
                        class="form-control" formControlName="new_password" name="new_password">
                    <div class="text-error" *ngIf="resetForm.controls['new_password'].errors?.required && show">
                        Please enter new password.
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <label class="required">Confirm Password</label>
                    <input autocomplete="off" (keydown.space)="$event.preventDefault()" type="password"
                        class="form-control" formControlName="changePassword" name="changePassword">
                    <div class="text-error" *ngIf="resetForm.controls['changePassword'].errors?.required && show">Please
                        enter confirm password.
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button (click)="bsModalRef.hide()" type="button" class="form-cancel btn btn-default mr-3">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>