<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
        {{!modalData ? 'Add' : 'Edit'}} {{util?.breadcrumb}}
    </h4>
</div>



<form [formGroup]="form" (ngSubmit)="addEdit()">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="required">desktop image</label>
                    <div class="product-images">
                        <input type="file" class="file-upload" id="desktop_img_url" (change)="selectImage($event)">
                        <label for="desktop_img_url">
                            <img src="/assets/img/ic_camera.png">
                        </label>
                        <ng-container *ngFor="let img of desktop_img_url;let i=index">
                            <img class="ml-4 uploaded-img" height="72" for="desktop_img_url" [src]="img" *ngIf='img'>
                            <i class="fa fa-times-circle fa-trash-css" (click)="removeImage(i)" *ngIf='img'></i>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" formArrayName="description">
            <div class="col-lg-10 col-md-12" *ngFor="let nameControl of description?.controls;let i = index"
                [formGroup]="nameControl">
                <div class="form-group">
                    <label class="required">Name in {{nameControl?.value?.language_id}}</label>
                    <input type="text" formControlName="description" class="form-control" placeholder="description">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="col-md-12 modal-footer-button">
            <button (click)="bsModalRef.hide()" type="button" class="btn btn-default mr-3">Cancel</button>
            <button type="submit" class="btn btn-primary">{{!modalData ? 'Submit' : 'Update'}}</button>
        </div>
    </div>
</form>