<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
        {{!modalData ? 'Add' : 'Edit'}} {{util?.breadcrumb}}
    </h4>
</div>

<form [formGroup]="form" (ngSubmit)="addEdit()">

    <div class="modal-body">
        <div class="d-flex">
            <div class="row" formArrayName="name">
                <div class="col-md-6" *ngFor="let nameControl of name?.controls;let i = index" 
                [formGroup]="nameControl">
                    <div class="form-group">
                        <label class="required">Name in {{nameControl?.value?.language_id}}</label>
                        <input type="text" formControlName="name" class="form-control" placeholder="Name">
                    </div>
                </div>
            </div>
        </div>
        </div>
    <div class="modal-footer">
        <div class="col-md-12 modal-footer-button">
            <button (click)="bsModalRef.hide()" type="button" class="btn btn-default mr-3">Cancel</button>
            <button type="submit" class="btn btn-primary">{{!modalData ? 'Submit' : 'Update'}}</button>
        </div>
    </div>
</form>